
// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$white: #fff;
$black: #000;
$primary: #01B57A;
$secondary: #D4D4D4;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #081429;
$gray: #c0c1c3;
$wine: #C1383D;
